* {
  font-family: sans-serif;
  font-size: 14px;
}

html, body {
  background-color: #222;
}

html, body, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.login_background {
  opacity: 0.8;
}

.login_overlay {
  position: absolute;
  display: block;
  color: #8b0000;
  width: 100%;
  height: 100%;
  background: black;
  float: left;
}

.login_title {
  font-size: 5vw;
  padding: 100px;
  left: 20%;
}

.login_mode button {
  border: 0;
  font-size: 2vw;
  cursor: pointer;
  margin-left: 100px;
  left: 20%;
  width: 300px;
}

.response_overlay {
  padding-left: 80px;
  padding-top: 25px;
  position: absolute;
  font-size: 30px;
  display: none;
  margin-left: 35%;
  margin-top: 15%;
  background: grey;
  width: 700px;
  height: 400px;
}

.response_overlay h2 {
  font-size: 40px;
}

.response_overlay p {
  font-size: 35px;
}

.login_menu {
  padding-left: 100px;
  float: left;
}

.login_menu h2 {
  font-size: 2vw;
}

.login_menu input {
  border: 0;
  font-size: 2vw;
  height: 100px;
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

.login_register {
  display: none;
  margin-left: 100px;
}

.login_register h2 {
  font-size: 2vw;
}

.login_passcode {
  border: 0;
  font-size: 2vw;
  width: 700px;
}

.login_background {
  float: right;
  margin-top: 200px;
  margin-right: 200px;

}

.login_register_button {
  border: 0;
  cursor: pointer;
  float: left;
  font-size: 1.5vw;
  margin-top: 50px;
  border: 0;
  padding: 0;
  background: green;
  width: 705px;
  height: 100px;
}

.login_start_button {
  border: 0;
  cursor: pointer;
  float: left;
  font-size: 1.5vw;
  margin-top: 254px;
  border: 0;
  padding: 0;
  background: green;
  width: 705px;
  height: 60px;
}

.fps {
  position: absolute;
  padding: 10px;
  color: white;
}

.note {
  display: none;
  opacity: 0.9;
  position: absolute;
  top: 20%;
  left: 30%;
}

.note_words {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  text-align: justify;
  font-size: 1vw;
}

.dialog_caption_holder {
  display: none;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  bottom:0;
  width: 100%;
  height: 80px;
  padding: 10px;
  position: fixed;
  float: left;
  color: white;
  font-size: 2vw;
}

.start_menu {
  display: none;
  width:  100%;
  height: 100%;
  background-color: black;
  position: absolute;
}

.start_menu_background_image {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.start_menu .start_button {
  cursor: pointer;
  font-family: "Didact Gothic";
  display: block;
  color: #D3D3D3;
  font-size: 5vw;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: middle;
}

.footer {
  display: none;
  bottom:0;
  width: 44%;
  height: 400px;
  position: fixed;
  margin-left: 25%;
  margin-right: 25%;
}

.characterInventory {

  background-color: #3d3a24;
  bottom:0;
  width: 100%;
  height: 470px;
  position: fixed;
  float: left;
  color: white;
  display: none;
  opacity: 0;
}

.characterInventory .characterModel{

  background-color: #3d3a24;
  float: left;
  width: 20%;
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 1);

}

.characterInventory .characterModel .model_background {

  height: 380px;
  width: 35%;
  background-color: #4b472d;
  padding-left: 13%;
  padding-right: 13%;
  margin-left: 14%;
  margin-right: 10%;
  margin-top: 11%;
  margin-bottom: 20%;
  border: inherit;

}

.characterInventory .characterModel .model_head {

  position: absolute;
  height: 85px;
  width: 85px;
  margin: 5px;
  padding: 5px;
  background-color: #67613e;
  margin-left: 5%;
  margin-top: 6%;
  border: inherit;

}

.characterInventory .characterModel .model_chest {

  position: absolute;
  height: 85px;
  width: 85px;
  margin: 5px;
  padding: 5px;
  background-color: #67613e;
  margin-left: 5%;
  margin-top: 35%;
  border: inherit;

}

.characterInventory .characterModel .model_feet {

  position: absolute;
  height: 85px;
  width: 85px;
  margin: 5px;
  padding: 5px;
  background-color: #67613e;
  margin-left: 5%;
  margin-top: 72%;
  border: inherit;

}

.characterInventory .characterModel .model_hat {

  position: absolute;
  height: 85px;
  width: 85px;
  margin: 5px;
  padding: 5px;
  background-color: #67613e;
  margin-left: 65%;
  margin-top: 6%;
  border: inherit;

}

.characterInventory .characterModel .model_slot_1 {

  position: absolute;
  height: 85px;
  width: 85px;
  margin: 5px;
  padding: 5px;
  background-color: #67613e;
  margin-left: 65%;
  margin-top: 40%;
  border: inherit;

}

.characterInventory .characterModel .model_slot_2 {

  position: absolute;
  height: 85px;
  width: 85px;
  margin: 5px;
  padding: 5px;
  background-color: #67613e;
  margin-left: 65%;
  margin-top: 72%;
  border: inherit;

}


.characterInventory .inventory {

  background-color: #3d3a24;
  float: left;
  width: 61%;
  padding-left: 20%;
  border: 1px solid rgba(255, 255, 255, 1);

}

.characterInventory .inventory .inventory_bottom_section{

  bottom: 0;
  padding-left: 10px;
  width: 60.5%;
  height: 200px;
  background-color: #3d3a24;
  position: absolute;
  border:inherit;

}

.characterInventory .inventory .inventory_top_section{

  top: 0;
  height: 250px;
  background-color: #48442a;
  float: left;
  margin: 10px;

}

.characterInventory .inventory .inventory_top_section .inventory_slot {

  display: block;
  margin-left: 15px;
  margin-top: 15px;
  padding: 10px;
  height: 80px;
  width: 80px;
  background-color: #67613e;
  float: left;
  border: 1px solid rgba(255, 255, 255, 1);

}

.characterInventory .inventory .inventory_bottom_section .primary_weapon {

  height: 85%;
  padding: 1%;
  background-color: #67613e;
  float: left;
  width: 35%;
  border:inherit;

}

.characterInventory .inventory .inventory_bottom_section .secondary_weapon {

  height: 85%;
  padding: 1%;
  background-color: #514c2f;
  float: left;
  width: 25%;
  border:inherit;

}

.characterInventory .inventory .inventory_bottom_section .small_weapon {

  height: 85%;
  padding: 1%;
  background-color: #48442a;
  float: left;
  width: 33%;
  border:inherit;

}

.testing {
  display: none;
  right: 0;
  float: right;
  position: absolute;
  height: 2000px;
  width: 800px;
  background-color: grey;
  font-size: 80px;
}

.testing .testing_headers{
  font-size: inherit;
  margin: 50px;
  margin-bottom: 0px;
}

.testing .sleep_hours {
  height: 150px;
  width: 70%;
  margin: 50px;
  font-size: 80px;
  float: left;

}

.testing .sleep_hours_submit {
  height: 150px;
  width: 15%;
  font-size: 80px;
  background-color: green;
  float: right;
  margin-top: 50px;
  cursor: pointer;

}

.player_status_holder {
  float: right;
  height: 100%;
  width: 18%;
  background-color: #48442a;
  padding: 10px;
}

.player_status_holder .status_meter {
  height: 40px;
  background-color: #19180f;
  font-size: 53px;
  margin-top: 20px;
  border: 3px solid rgba(255, 255, 255, 1);

}

.player_status_holder p {
  position: absolute;
  font-size: 38px;
  margin: 0;
  padding-left: 68px;
  opacity: 0.3;
}

.player_status_holder .status_meter .health_remaining {
  height: 100%;
  width: 50%;
  font-size: inherit;
  background-color: green;
  line-height: 0.8;
  opacity: 0.4;

}


.player_status_holder .status_meter .food_remaining {
  height: 100%;
  width: 30%;
  font-size: inherit;
  background-color: green;
  line-height: 0.8;
  opacity: 0.3;

}

.player_status_holder .status_meter .water_remaining {
  height: 100%;
  width: 40%;
  font-size: inherit;
  background-color: green;
  line-height: 0.8;
  opacity: 0.4;

}

.player_status_holder .status_meter .heat_remaining {
  height: 100%;
  width: 50%;
  font-size: inherit;
  background-color: green;
  line-height: 0.8;
  opacity: 0.4;

}

.player_status_holder .status_meter .sleep_remaining {
  height: 100%;
  width: 20%;
  font-size: inherit;
  background-color: green;
  line-height: 0.8;
  opacity: 0.2;

}

.gun_holder {
  position: absolute;
  display: none;
  height: 200px;
  width: 200px;
  bottom: 0;
  padding-bottom: 150px;
  float: right;
  right: 0;
  padding-right: 360px;
}

.lootMenu {

  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: #90a762;
  border-width: 1px 1px 0px 1px;
  filter: blur(1px);
  opacity: 0.6;
  background-color: #46522e;
  z-index: -1;
  border-radius: 2px;
}

.itemSlots{
  display:none;
  height: 300px;
  width: 300px;
  float: left;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(0.5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
}

.itemSlots img {
  z-index:10;
  filter: blur(0px);
}



#split {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: none;
}


#feed {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: none;
}

#status {
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  font-size: 16.1px;
  top: 10px;
  right: 10px;
  font-weight: bold;
  text-align: center;
}

#status .title {
  font-size: 25px;
}

#status .me {
  color: #FF8888;
  font-size: 16.1px;
}

.chatbox {
  position: absolute;
  width: 300px;
  height: 320px;
  background: rgba(255, 255, 255, 0.7);
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.chatbox .chat-list {
  padding: 5px;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  height: 285px;
  overflow: hidden;
}

.chatbox .chat-list li {
  padding: 2px;
  margin: 3px;
}

.chatbox .chat-list li.me b {
  color: #ea6153;
}

.chatbox .chat-list li.friend b {
  color: #2ecc71;
}

.chatbox .chat-list li.system {
  color: #9b59b6;
  font-style: italic;
}

.chatbox .chat-list li.system:before {
  content: "» ";
}

.chatbox .chat-input {
  pointer-events: all;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  background: transparent;
  border: none;
  border-top: 1px solid #DDD;
  outline: none;
}

#startMenu {
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}

#startMenu p {
  padding: 0;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

#playerNameInput {
  width: 100%;
  text-align: center;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  box-sizing: border-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
  border: solid 1px #CCCCCC;
  box-shadow: 0 0 3px 1px #DDDDDD;
}

#startButton, #spectateButton {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-size: large;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  border-bottom: 2px solid #28be68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
}

#spectateButton:active, #spectateButton:hover,
#startButton:active, #startButton:hover {
  top: 1px;
  background: #55D88B;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#settingsButton {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-size: large;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  border-bottom: 2px solid #28be68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
}

#settingsButton:active, #settingsButton:hover {
  top: 1px;
  background: #55D88B;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#settings, #startMenuWrapper {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
}

#settings {
  max-height: 0;
}

#startMenu h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#startMenu ul {
  margin: 10px;
  padding: 10px;
  margin-top: 0;
}

#startMenu .input-error {
  color: red;
  opacity: 0;
  font-size : 12px;
}

#startMenuWrapper {
  z-index: 2;
}

#gameAreaWrapper {
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0;
}

@media only screen  and (min-width : 1224px) {
  #mobile {
    display: none;
  }
}

@media only screen  and (max-width : 1224px) {
  #chatbox {
    display: none;
  }
}

input [type="image"]:focus{
  border:none;
  outline: 1px solid transparent;
  border-style: none;
}

*:focus {
  outline: 1px solid transparent;
  border-style: none;
}
